cloud_id = "b1gl"
folder_id = "b1gm"
region_id = "ru-central1-a"
image_id = "fd8h7"
public_key_path = "path to key *.pub"
service_account_key_file = "name.json"
subnet_id = "e9bt"
private_key_path = "~/.ssh/ubuntu"
instances                = 1
app_disk_image           = "fd8v"
db_disk_image            = "fd8n"
key_id                   = "ik63"
secret_key               = "nrYV"
backet_name              = "aireshilov"
