cloud_id                 = "b1glkakv9fnm"
folder_id                = "b1gm9eibau7l0q"
region_id                = "ru-central1"
zone_id                  = "ru-central1-a"
image_id                 = "fd8h74hlk98th"
public_key_path          = "~/.ssh/uppuser.pub"
service_account_key_file = "terraform.json"
subnet_id                = "e9btbvc5uhlrb8"
private_key_path         = "~/.ssh/appuser"
instances                = 1
app_disk_image           = "fd8vnir"
db_disk_image            = "fd8n0nu"
key_id                   = "SKKWZ-b"
secret_key               = "QEO5pVAsnswdhhdOPW"
bucket_name              = "aireshilov"
